body { 
    margin: 5%; 
    text-align: justify; 
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

img.illus {
    text-align:center;
    display:block;
    margin:0 auto;
}

p.som-nav {
    text-align: center;
    font-size: 0.9em;
    margin-top: 2em;
}
p.som-nav a, p.som-nav span {
    margin: 0 0.4em;
}
p.som-nav span {
    color: #999;
}
